* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color:rgb(41, 39, 39);
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
h2 {
  text-align: center;
  margin: 20px 0;
  background-color: transparent;
}
#box {
  height: 200px;
  width: 200px;
  background-color: #3498db;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

p {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}
